<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Opens:</strong>
  <%= @restaurant.opens %>
</p>

<p>
  <strong>Closes:</strong>
  <%= @restaurant.closes %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
